[Unit]
Description=Start home monitoring graph creation service

[Service]
User=pi
Group=pi
StandardOutput=syslog
SyslogIdentifier=home-monitoring-create-graphs
WorkingDirectory=/home/pi/monitoring
ExecStart=/usr/bin/python3 /home/pi/monitoring/create_graphs.py -o static/images/temperatures config.json

[Install]
WantedBy=multi-user.target
