[Unit]
Description=Start home monitoring data collection service

[Service]
User=pi
Group=pi
Restart=always
RestartSec=30
StandardOutput=syslog
SyslogIdentifier=home-monitoring-data-collection
WorkingDirectory=/home/pi/monitoring
ExecStart=/usr/bin/python3 /home/pi/monitoring/monitoring.py config.json

[Install]
WantedBy=multi-user.target
