[Unit]
Description={{ item.description}}
Wants=network-online.target
After=network-online.target

[Service]
User={{ user_name }}
Group={{ user_name }}
{% if item.restart %}
Restart=always
RestartSec=30
{% endif %}
StandardOutput=syslog
SyslogIdentifier={{ item.name }}
WorkingDirectory={{ repo_path }}
ExecStart=/usr/bin/env python3 {{ item.command }}

[Install]
WantedBy=multi-user.target
