[Unit]
Description=Start ds18x20-rest server
Wants=network-online.target
After=network-online.target

[Service]
User=nobody
Group=nobody
Restart=always
RestartSec=30
StandardOutput=syslog
SyslogIdentifier=ds18x20-rest
ExecStart=/usr/bin/ds18x20-rest /etc/ds18x20-rest-config.json
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
